.fashions-container {
    width: 50%;
    margin: 25px auto;
  }

  h3 {
    margin-bottom: 30px;
  }

  .fashion {
    border-top: solid black;
    margin-top: 50px;
    padding-top: 20px;
  }

  .main-box {
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
  }

  .time {
    display: flex;
    justify-content: flex-end;
  }

  .aaa {
    width: 100%;
    height: 100%;
  }

  .header-list {
    float: right;
  }

  .carousel-inner{
    flex: row;
  }

  