// Place all the styles related to the likes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.like-btn {
    width: 25px;
    height: 30px;
    font-size: 30px;
    color: red; 
    margin-left: 50px;
}
   
.unlike-btn {
    width: 25px;
    height: 30px;
    font-size: 30px;
    color: #e54747;
    margin-left: 50px;
 }
 